/*------------------------------------*\
  VARS.SCSS
\*------------------------------------*/

$inuit-base-font-size:          16px !default;
$inuit-base-line-height:        24px !default;
$inuit-base-text-color:         #333 !default;
$inuit-base-background-color:   #fff !default;

$inuit-base-spacing-unit:           $inuit-base-line-height;
$inuit-base-spacing-unit--small:    round($inuit-base-spacing-unit / 2);
$inuit-base-spacing-unit--large:    round($inuit-base-spacing-unit * 2);

/**
 * inuit-paragraphs
 */

$inuit-lede-size:   1.125 !default;

/**
 * inuit-headings
 */

$inuit-heading-size-1:  36px !default;
$inuit-heading-size-2:  30px !default;
$inuit-heading-size-3:  24px !default;
$inuit-heading-size-4:  20px !default;
$inuit-heading-size-5:  16px !default;
$inuit-heading-size-6:  14px !default;

/**
 * inuit-responsive-settings
 */

$inuit-responsive-settings: false !default;

/**
 * inuit-list-inline
 */

$inuit-enable-list-inline--delimited:   false !default;

/**
 * inuit-block
 */

$inuit-enable-block--flush:     false !default;
$inuit-enable-block--tiny:      false !default;
$inuit-enable-block--small:     false !default;
$inuit-enable-block--large:     false !default;
$inuit-enable-block--huge:      false !default;
$inuit-enable-block--center:    false !default;
$inuit-enable-block--right:     false !default;

/**
 * inuit-media
 */

$inuit-enable-media--tiny:          false !default;
$inuit-enable-media--small:         false !default;
$inuit-enable-media--large:         false !default;
$inuit-enable-media--huge:          false !default;
$inuit-enable-media--rev:           false !default;
$inuit-enable-media--flush:         false !default;
$inuit-enable-media--responsive:    false !default;

/**
 * inuit-box
 */

$inuit-enable-box--flush:   false !default;
$inuit-enable-box--tiny:    false !default;
$inuit-enable-box--small:   false !default;
$inuit-enable-box--large:   false !default;
$inuit-enable-box--huge:    false !default;

/**
 * inuit-pack
 */

$inuit-enable-pack--auto:   false !default;
$inuit-enable-pack--tiny:   false !default;
$inuit-enable-pack--small:  false !default;
$inuit-enable-pack--large:  false !default;
$inuit-enable-pack--huge:   false !default;
$inuit-enable-pack--rev:    false !default;
$inuit-enable-pack--middle: false !default;
$inuit-enable-pack--bottom: false !default;

/**
 * inuit-spacing
 */

$inuit-enable-margins:                  false !default;
$inuit-enable-margins--tiny:            false !default;
$inuit-enable-margins--small:           false !default;
$inuit-enable-margins--large:           false !default;
$inuit-enable-margins--huge:            false !default;
$inuit-enable-margins--negative:        false !default;
$inuit-enable-margins--negative-tiny:   false !default;
$inuit-enable-margins--negative-small:  false !default;
$inuit-enable-margins--negative-large:  false !default;
$inuit-enable-margins--negative-huge:   false !default;
$inuit-enable-margins--none:            false !default;

$inuit-enable-paddings:                 false !default;
$inuit-enable-paddings--tiny:           false !default;
$inuit-enable-paddings--small:          false !default;
$inuit-enable-paddings--large:          false !default;
$inuit-enable-paddings--huge:           false !default;
$inuit-enable-paddings--none:           false !default;

/**
 * inuit-responsive-spacing
 */

$inuit-enable-responsive-margins:                   false !default;
$inuit-enable-responsive-margins--tiny:             false !default;
$inuit-enable-responsive-margins--small:            false !default;
$inuit-enable-responsive-margins--large:            false !default;
$inuit-enable-responsive-margins--huge:             false !default;
$inuit-enable-responsive-margins--negative:         false !default;
$inuit-enable-responsive-margins--negative-tiny:    false !default;
$inuit-enable-responsive-margins--negative-small:   false !default;
$inuit-enable-responsive-margins--negative-large:   false !default;
$inuit-enable-responsive-margins--negative-huge:    false !default;
$inuit-enable-responsive-margins--none:             false !default;

$inuit-enable-responsive-paddings:                  false !default;
$inuit-enable-responsive-paddings--tiny:            false !default;
$inuit-enable-responsive-paddings--small:           false !default;
$inuit-enable-responsive-paddings--large:           false !default;
$inuit-enable-responsive-paddings--huge:            false !default;
$inuit-enable-responsive-paddings--none:            false !default;

/**
 * inuit-list-block
 */

$inuit-enable-list-block--tiny:     false !default;
$inuit-enable-list-block--small:    false !default;
$inuit-enable-list-block--large:    false !default;
$inuit-enable-list-block--huge:     false !default;

/**
 * inuit-layout
 */

$inuit-enable-layout--tiny:     false !default;
$inuit-enable-layout--small:    false !default;
$inuit-enable-layout--large:    false !default;
$inuit-enable-layout--huge:     false !default;
$inuit-enable-layout--flush:    false !default;
$inuit-enable-layout--rev:      false !default;
$inuit-enable-layout--middle:   false !default;
$inuit-enable-layout--bottom:   false !default;
$inuit-enable-layout--right:    false !default;
$inuit-enable-layout--center:   false !default;
$inuit-enable-layout--auto:     false !default;

/**
 * inuit-flag
 */

$inuit-enable-flag--tiny:       false !default;
$inuit-enable-flag--small:      false !default;
$inuit-enable-flag--large:      false !default;
$inuit-enable-flag--huge:       false !default;
$inuit-enable-flag--rev:        false !default;
$inuit-enable-flag--flush:      false !default;
$inuit-enable-flag--top:        false !default;
$inuit-enable-flag--bottom:     false !default;
$inuit-enable-flag--responsive: false !default;

/**
 * inuit-list-ui
 */

$inuit-list-ui-border-width:    1px !default;
$inuit-list-ui-border-style:    solid !default;
$inuit-list-ui-border-color:    #ccc !default;

$inuit-enable-list-ui--tiny:    false !default;
$inuit-enable-list-ui--small:   false !default;
$inuit-enable-list-ui--large:   false !default;
$inuit-enable-list-ui--huge:    false !default;

/**
 * inuit-tables
 */

$inuit-table-border-width:      1px !default;
$inuit-table-border-style:      solid !default;
$inuit-table-border-color:      #ccc !default;

$inuit-enable-table--fixed:     false !default;
$inuit-enable-table--compact:   false !default;
$inuit-enable-table--cosy:      false !default;
$inuit-enable-table--comfy:     false !default;
$inuit-enable-table--cells:     false !default;
$inuit-enable-table--rows:      false !default;
$inuit-enable-table--columns:   false !default;

/**
 * inuit-buttons
 */

$inuit-btn-background:      #4a8ec2 !default;
$inuit-btn-color:           #fff !default;
$inuit-btn-border-width:    1px !default;
$inuit-btn-border-style:    solid !default;
$inuit-btn-border-color:    $inuit-btn-background !default;
$inuit-btn-radius:          0 !default;

$inuit-enable-btn--small:   false !default;
$inuit-enable-btn--large:   false !default;
$inuit-enable-btn--full:    false !default;
$inuit-enable-btn--pill:    false !default;